.login-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 109px;
}
.login-container button {
	background: #ffffff;
	border: 1px solid #c7c7c7;
	box-sizing: border-box;
	border-radius: 57px;
	width: 461px;
	height: 51px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	position: relative;
	margin-top: 9px;
	cursor: pointer;
}
.or {
	display: flex;
	width: 100%;
}
.or hr {
	border-top: 1px solid black;
}
.login-container button img {
	position: absolute;
	left: 8px;
}
.button-container {
	margin-top: 19px;
}
form {
	display: flex;
	flex-direction: column;
	width: 570px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid #ababab;
	box-sizing: border-box;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	padding: 46px 58px;
}
form h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	width: 461px;
	color: #000000;
}
form input {
	width: 461px;
	height: 50px;
	border: none;
	border-bottom: 1px solid #c5c5c5;
}
form input::placeholder {
	color: #000000;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
}
form input:focus {
	outline: none !important;
	border-bottom: 2px solid #7e857b;
}
#checkbox {
	width: 16px;
}
.input-container {
	display: flex;
	justify-content: space-between;
	width: 461px;
	height: 50px;
}
.input-container p {
	display: flex;
	font-family: "Sen", sans-serif;
	align-items: center;
	font-style: normal;
	font-weight: 500;
}
#login-btn {
	width: 461px;
	height: 50px;
	padding: 14px 210px;
	background: #f9a31a;
	font-family: "Sen", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
}

.forgot-password {
	font-family: "Montserrat" !important;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	text-decoration-line: underline;

	color: #f9a51a;
}
.create-account-redirect {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 461px;
	height: 50px;
}
.create-account-redirect a:nth-child(2) {
	font-family: "Montserrat" !important;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	text-decoration-line: underline;
	margin-left: 5px;
	color: #f9a51a;
}
