.navigation-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-container img {
	width: 120px;
	height: 56px;
}
nav a {
	margin-left: 50px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}
nav button {
	margin-left: 50px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	outline: none;
	border: 0px;
	background-color: #e62727;
	padding: 12px 29px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 16px;
}
.active-nav {
	background-color: #f9a51a;
	padding: 12px 29px;
	border-radius: 5px;
}
